.container-commentaire {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.message-list-container {
    height: 25vh;
    overflow: auto;
    font-family: Avenir;
    
    
}

.message-list{
    width: 100%;
}