.Welcome {
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: 90px;
  font-family: "Courier New", Courier, monospace;
}
.formulaire {
  flex: initial;
  text-align: center;
  color: black;
  margin-top: 100px;
  font-size: xx-large;
}
