*{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

body{
    margin: 0;
    padding: 0;
    background-color: #282c34;
}

/* Settings for the navigation */
.navigation {    
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 500ms ease;
    height: 100%;
    z-index: 2;
}

/* Set the colors and settings of the list of pages */
.navigation a {
    text-decoration: none;
    color: #5d5d63;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
}

/* Set the color of the text while hovering */
.navigation a:hover{
    color: white;
    transition: 0.5s;
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    width: 100%;
}

/* Set the colors of the icons when hovering */
.navigation a:hover .material-icons{
    color: #df49a6;
    transition: 0.5s;
}

.navbar {
  height: 100%;
}
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .link-text{
      display: none;
  }

  .nav-item {
    width: 100%;
  }
  
  /* When not hovering the logo is grey */
  .nav-link {
    display: flex;
    height: 5rem;
    filter: grayscale(100%) opacity(0.7);
    transition: 0.5s;
  }
  
  /* When hovering the text is white and we see the colors of the logo */
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    transition: 0.5s;
    color: white;
  }
  
  /* Set the size of the logo */
  .nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
  }
  
  /* We set the settings and colors of our logo */
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
  
  /* We set the time of the transition */
  .logo svg {
    transition: 0.5s;
  }
  
  /* We don't show it while it's not hovering */
  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
  }
  
  /* Annimation of the logo */
  .navbar:hover .logo svg {
    transform: rotate(-180deg);
  }

  /* Colors for the logo */
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }

/* Set the color of our icons */
.material-icons{
    margin: 20px;
    width:auto;
    color: #5d5d63;
}
  
.material-icons.md-36 { font-size: 36px; }

/* Settings for the page */
.Page {
  margin-left: 5rem;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  align-items: center;
  width: auto;
  min-width: 320px;
}

.Page h1{
  position: absolute;
  opacity: 20%;
  top: 50%;
  font-size: 500%;
  color: black;
  transform: translate(0, -50%);
  width: 90%;
}

.Page .container{
  background-color: orangered;
  position: relative;
  margin: 5px;
  float: left;
  height: 45vh;
}

/* Meteo card */
.Page .meteo section{
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Today */
.Page .meteo section .today{
  height: 40%;
  display: flex;
  flex-direction: column;
}

.Page .meteo section .today .meteo_data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.Page .meteo section .today .meteo_data .temp{
  width: auto;
}

.Page .meteo section .today .icon{
  height: auto;
  width: auto;
}

/* Tomorrow */
.Page .meteo section .tomorrow{
  height: 60%;
  display: flex;
  flex-direction: column;
}

.Page .meteo section .tomorrow .icon{
  margin-top: 0;
  margin-bottom: 0;
  height: 90px;
  width: 90px;
}

.Page .meteo section .tomorrow .forecast{
  display: flex;
}

/* List event */
.Page .events .couvreurs{
  color: #23232e;
}

.Page .list_events{
  height: 100%;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* Photo */
.Page .photo .cont_photo{
  height: 100%;
}

.Page h3{
  color: #141418;
}

.Page .fix{
  width: 100%;
  height: 5px;
  clear: both;
  overflow: auto;
}

/* For small screens like mobile phones */
@media only screen and (max-width: 500px){
  
  .Page .container{
    margin: 5px;
    height: 300px;
    width: 97%;
    min-width: 300px;
    z-index: 1;
  }

  /* Set the navigation bar to the bottom */
  .navigation {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    margin-top: 5rem;
  }

  /* We don't show the logo */
  .logo {
    display: none;
  }

  /* We change the flew direction */
  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  /* Change margin for the page */
  .Page {
    margin: 0;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
  }
} 

  /* For small screens like tablets */
@media only screen and (min-width: 500px) and (max-width: 749px) {
  
  .Page .very{
    width: 98%;
  }

  .Page .big, .Page .small{
    max-width: 48%;
    min-width: 225px;
    height: 15em;
  }

    /* No more margin for the page */
    .Page {
      margin-left: 0;
      margin-bottom: 5rem;
    }

    /* Set the navigation bar to the bottom */
    .navigation {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }

    /* We don't show the logo */
    .logo {
      display: none;
    }
  
    /* We change the flew direction */
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  }
  
  /* For large screens like computers */
  @media only screen and (min-width: 750px) {
    .Page .container{
      min-height: 300px;
    }

    .Page .big, .Page .very{
      max-width: 48.5%;
      min-width: 300px;
    }

    .Page .small{
      max-width: 23.5%;
      min-width: 145px;
    }

    .navigation {
      top: 0;
      width: 5rem;
      height: 100vh;
    }

    /* Size of the navigation */
    .navigation:hover{
        width: 220px;
    }

    .navigation a:last-child {
        margin-top: auto;
      }
  
    /* We show the text */
    .navbar:hover .link-text {
      display: inline;
      margin: auto;
      width: auto;
    }
  
    .navbar:hover .logo svg, .navbar:hover .logo span 
    {
      margin-left: 11rem;
    }
  
    /* We move the logo text with an animation */
    .navbar:hover .logo-text
    {
      left: 0px;
      margin-left: 36px;
      transition: 0.7s;
    }
  }
  


 