.Box1{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

.Drapeau{
    width: 80%;
    height: 25%;
    margin-left: 10%;
    margin-top: 50px;
    border: 1px solid black;
}

.Drapeau img{
    width: 100%;
    height: 100%;
}

.Info_box{
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-top: 30px;
}

.Info_box select{
    width: 100%;
}

.Info_box p{
    margin-top: 20px;
    font-weight: bold;
}

.Info_box p span{
    font-weight: lighter;
}
