body {
    margin: 0;
  }
  #root {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    width: 1263px;
    height: 780px;
    background-color: #DFDDE8;
  }