.list-group-item
{
    background-color :#C09A5934 ;
    color:white;
    border-bottom: 1px solid rgba(192, 154, 89, 0.4);;

}
.card
{

background-color: #C09A5934!important;
border:1px solid #c9d0d878;
  
}

.grid-row-end
{
    grid-row-end: 0!important;
}
button{
    background-color: #e9ecef!important;
    border-color:#ced4da!important;
}

.btn-outline-primary {
    color: black!important;
    border-color: #0d6efd;
}
.dropdown-toggle::after
{
    color:black!important;
}
.titleAdminCards
{
    color : white;
    font-size:15px;
}
.btn:hover{
    color:black!important;
}
.card-header
{
    color:white;
    background-color: #C09A5934!important;
}
.card-body
{
    background-color: #C09A5934!important;

}
/*
table
{
    color: white!important;
}

.disponibility tr td
{
    color: white!important;

}
.input-group-text {
    display: block;
}
*/


.disponibility
{
    color: white!important;

}
.input-group-text {
    display: block;
}

.tbodyColor tr td{
    color: white!important;

}