.CryptoDatas
{
    margin-top: 50px;
}

.logo
{
    height: 50px;
    width: 50px;
}

.usdtLogo
{
    height: 35px;
    width: 35px;
}

.crypto{
    text-align:left;
    font-size:19px;
}

.usdtSize
{
    font-size: 17px;
}

.usdt{
    text-align:right;
}

.card
{

background-color: #C09A5934!important;
}

.mcMargin
{
    margin-bottom: 3%;
}
.fontmcD
{
    font-size: 15px;
    text-align:center;

}
.list-group-item
{
    background-color :#C09A5934 ;
    color:white;
    border-bottom: 1px solid rgba(192, 154, 89, 0.4);;

}