html, body {
    height: 100%;
    color: #FAE8E8;
  }
  
  h1 {
    margin: 20px 0 15px 0;  
  }
  
  #main {
    width: 600px;
    margin: 0 auto;
    text-align: left;
  }
  
  ul {
    list-style: none;
  }
  
  ul>li:hover {
    background-color: #FAE8E8;
  }
  
  .form-inline .form-control {
    width: 50%;
    margin-left: 80px;
    
  }
  
  .done {
    color: red;
    text-decoration: line-through;
  }
  
  .undone {
    color: #FAE8E8;
  }
  
  .icon {
    margin: 6px 10px 6px 0;
  }
  .todoListMain .header input {
    color: #E27F7F;
    padding: 0.8em;
    border: #FFF;
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    padding: 1.3rem;
    display: flex;

  
    box-shadow: inset 8px 8px 13px 0 #f2f2f2,
    inset -8px -8px 13px 0 #ffffff;

  }
  
  .todoListMain .header button {
    margin-right: 0px;
    padding: 0.8em;
    background:  #F4CFCF;
    box-shadow:  41px 41px 100px #bdbdbd, 
                 -41px -41px 100px #ffffff;
    border-radius: 5px;
    color: white;
    border: white;

    transition: 0.3s all ease-in-out
    
  }

  
  .todoListMain .header button:hover {
    background: #EBA7A7;
    
  }

  

  
  .todoListMain .theList {
    list-style: none;
    color: red;
    padding-left: 0;
    width: 250px;
  }
  
  .todoListMain .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;
  }
  
  ul.theList {
    padding: 0;
    list-style: none;
    display: inline-flex;
    justify-content: center;
    flex-direction: column-reverse;
  }
  
  
  .theList li {
    color: #333;
    background-color: rgba(255, 255, 255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    transition: background-color .2s ease-out;
  }
  
  .todoListMain .theList li:hover {
    background-color: pink;
    cursor: pointer;
  }
  