
  #todo-form input{
    background-color:rgb(190, 176, 202);
    color: #000;
    border: 10px darkviolet;
    width: 200px;
    height: 100;
    font-size: 20px;
    padding: 0 20px;
    margin: 20px;
    border-radius: 10px;
    font-style: oblique;
    font-family: Cambria ;
  }
  
  #todo-form button{
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    background-color: rgba(128, 78, 156, 0.63);
  }