.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
}
.mainContainer{
    background-color: #282c34;
}
.firstWidgets {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}