.mainContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    min-width: 300px;
    max-width: 900px;
    margin: auto;
}

.mainContainer{
    
    background-color: rgb(60, 63, 65);    
    width: 98%;
    height: 95vh;
    position: relative;
    border: 5px solid rgb(60, 63, 65); /*arrondi noir autour*/
    /*border-image: linear-gradient(355deg,#333333, #dd1818 );
    /*border-image-slice: 1;
    /*border-style: outset;*/
  
    
    /*padding: 1em;*/
    border-radius: 30px;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%; 
    cursor: pointer; /*souris plus jolie*/
}

 
.mainContainer::before,
.mainContainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #ff0000, #00f0f0, #00ff00, #0000ff, #ff0000, #00f0f0, #00ff00, #0000ff, #f00f0f );
  width: 99%;
  height: 100%;
  transform: scale(1.02);
  z-index: -1;
  background-size: 500%;
  animation: animate 40s infinite;
  border-radius: 30px;
  margin-left: 0.5%;
}

.mainContainer::after {
  filter: blur(20px);
}

@keyframes animate {
  0% { background-position: 0 0; }
  50% { background-position: 300% 0; }
  100% { background-position: 0 0; }
}