.widgetsContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.user1,.user2,.user3{

    /*flip card*/
    transform-style: preserve-3d;
    transition: 2s;

    box-shadow: 0 45px 100px rgba(14,21,47,0.4), 0 16px 40px rgba(14,21,47,0.4);
}

.user1.flip, .user2.flip, .user3.flip{
    transform: rotateY(180deg);
}