.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #09d3ac;
}

.box{
  color : black;
  width: 33%;
}

.bigbox{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mediumbox{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
