.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.App-link {
  color: #09d3ac;
}

.box{
  color : black;
  width: 33%;
}

.bigbox{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.mediumbox{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
.card-header{
  background-color: #2e7466;
  color:white;
}

.card-body{
  background-color: rgb(46, 78, 67);
  color:white;
}
h1, h3{
  padding:15px;
  color:rgb(141, 143, 158);
  top: 20px;
  padding-left: 0%;
  margin:20px;
}
body{
  background-color: #2E4053;
}
.TitleSite,.titreDonnee{
  background-color: #2e3e4e;
}

.clock {
  border-radius: 30%;
  background: #fff;
  border: 5px solid white;
}

.wrap {
  position: relative;
  width: 350px;
  height: 350px;
}

.minute, .heure {
  position: absolute;
  height: 100px; width: 6px;
  margin: auto;
  top: -27%; left: 0;	bottom: 0; right: 0;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    background: black;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transform: rotate(90deg);
}

.seconde {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background: #ff4b3e;
  transform-origin: bottom center;
  transform: rotate(180deg);
}

/* .point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: white;
  border: 2px solid #1b1b1b;
  border-radius: 50%;
} */

hr {
  border: none;
  border-top: 5px double #333;
  color: rgb(11, 12, 12);
  overflow: visible;
  text-align: center;
  height: 5px;
}
