.title{
    margin-top: 70px;
    margin-left: 200px;
    margin-right: 200px;
    background-color:cornflowerblue;
    text-align: center;
    background-repeat: no-repeat;
    height:400px;
    width:800px;
    color:black ;
}
