.tbodyStyle
{
    color :white!important;
}
.tbodyStyle tr td
{
    color :white!important;
}
.theadStyle
{
    color :white!important;

}

.tdStyle
{
    text-align: center;
}
.btnStyle
{
}
.whiteColor
{
    color :white!important;

}